* {
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
  }
  
  :root {
    --main-text-color: #FFF9D6;
    --main-bg-color: #0A0058;
    --hover-bg-color: #0A0058;
    --hamburger-back-color: #030139;
  }

body {
    font-family: 'Titillium Web', serif;
    margin: 0;
    padding: 0;
    background-color: #01001d; 
    color: #FFF9D6;
    background-image: url("/static/assets/images/dolly-zoom-space-art/Stars transparent.svg"), url("/static/assets/images/aurora.svg"), url("/static/assets/images/Astronaut.svg");
    background-position: top, center bottom, left top;
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    -webkit-background-size: cover, cover, cover;
    -moz-background-size: cover, cover, cover;
    -o-background-size: cover, cover, cover;
}

/* Add responsive styles for smaller screens if needed */
  @media only screen and (max-width: 1000px) {
    html, body {
      padding-bottom: 0px;
      font-size: 16px;
      margin: 0;
    }
  }
  
  @media only screen and (min-width: 1001px) and (max-width: 2000px) {
    html,
    body {
      padding-bottom: 0px;
      font-size: 16px;
      margin: 0;
    }
  }
  
  @media only screen and (min-width: 2001px) {
    html,
    body {
      padding-bottom: 0px;
      font-size: 16px;
      margin: 0;
    }
  }


  a {
    color: #0A0058;
  }
  
  a:hover {
      text-decoration: underline;
  }
    
  
  h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    color:#FFF9D6;
    text-transform: uppercase;
  }
  
  @media only screen and (max-width: 993px) {
      h1 {
          font-size: 7.5vw;
          margin-block-start: 0px;
      }
  } 
  
  
  h2 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }
  
  p {
  font-size: 16px;
  }

  
  .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 993px) {
    .container {
      padding-top: 0;
    }
  }
  
  @media only screen and (max-width: 993px) {
    .container {
      width: 85%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      width: 90%;
    }
  }

.card {
    background-color: #0A0058;
    position: relative;
    flex: 0 0 47.5%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    margin: 3vh auto;
  }
  
  @media only screen and (max-width: 993px) {
    .card {
      width: 100%
    }
  }
  
  .card.full-width {
    flex: 0 0 97.5%;
  }
  
  .card.full-width {
    flex: 0 0 97.5%;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }
  
  .card {
    background-color: #0A0058;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px #FFED7B;
    margin: 15px;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    width: calc(33.33333% - 20px);
  }
  
  .card:nth-child(3n+1) {
    margin-left: 03;
  }
  
  .card:nth-child(3n) {
    margin-right: 1;
  }
  
  .card h2 {
    margin: 0 0 10px;
  }
  
  .card p {
    margin: 0;
  }
  
  .full-width {
    width: 100%;
  }
  
  .lilac {
    background-color: #030139;
  }
  
  .lilac h2 {
    color: #FFED7B;
  }
  
  .home-link {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }
  
  .home-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
  
    .card:nth-child(2n+1) {
        margin-left: 0;
    }
  
    .card:nth-child(2n) {
        margin-right: 0;
    }
  }
  
  @media (max-width: 480px) {
    .card {
        width: 100%;
    }
  
    .card:nth-child(2n+1) {
        margin-left: 0;
    }
    .card:nth-child(2n) {
        margin-right: 0;
    }
  }
  
  .info {
    text-align: center;
    padding: 0 10px;
  }
  
  .slider-item img {
    width: 300px; 
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  /* mobile view sliders*/
  @media (max-width: 515px) {
    .slider-item img {
        width: 50vw;
        height: auto;
      }
  }

.slider {
    position: relative;
    overflow: visible; 
    padding: 0 30px;
}

.group-cover {
    position: relative;
    overflow: hidden; 
}

.slide-group {
    display: flex;
    transition: transform 0.5s;
    overflow: visible; 
}

.slider-item {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.slider-nav {
    position: absolute;
    top: 42%;
    transform: translateY(-50%); 
    cursor: pointer;
    z-index: 2;
    width: 30px;
    height: 30px;
    background-color: #030139;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto; 
}

.slider-nav:hover {
  background-color: #01001d;
}

.slider-nav.prev {
    left: -10px;
}

.slider-nav.next {
    right: -10px;
}

.slider-nav i {
    color: #FFF9D6;
}

/* Nav Bar */
nav {
    width: 100%;
    height: 64px;
    background-color: #030139;
    top: 0;
    z-index: 99;
    box-shadow: 0px 0px 8px #000000;
    text-align: center;
    position: sticky;
  }
  
  nav .home {
    display: flex;
    align-items: center;
  }
  
  nav .home img {
    height: 40px;
    margin-right: 10px;
  }
  
  nav li:first-child {
    margin-right: auto;
  }
  
  nav li {
    margin: 0px 15px 0px 15px;
    list-style-type: none;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: auto;
    padding: 0px;
  }
  
  nav ul a {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: #FFF9D6;
    padding: 0px 10px;
    height: 64px;
    font-size: 1.5rem;
    line-height: 64px;
    position: relative;
  }
  
  nav ul a.selected {
    color: #FFED7B;
  }

  @media only screen and (max-width: 993px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}


.mobile-nav {
    display: flex !important;
    justify-content: space-between;
    background-color: #030139;
    box-shadow: none;
    position: relative;
  }
  
  @media only screen and (max-width: 993px) {
    .mobile-nav {
      display: flex !important;
      justify-content: space-between;
      background-color: transparent;
      box-shadow: none;
      position: relative;
    }
  
    .mobile-nav img {
      height: 65%;
      margin: 15px;
    }
  }

#mobile-nav-div {
    display: none;
    background-color: #030139;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  
  #mobile-nav-div li {
    padding: 10px;
    color: black;
  }
  #mobile-nav-div img {
    height: 65px;
    padding: 15px;
  }
  
  #mobile-nav-div ul {
    list-style-type: none;
  }
  
  #mobile-nav-div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 5vw;
  }
  
  #mobile-nav-div.active {
    display: block;
  }

/* Hambuger Button in Mobile View */
.hamburger-btn {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    appearance: none;
    color: var(--main-text-color);
    -webkit-text-stroke: 1px black;
    visibility: hidden;
    z-index: 999;
    position: fixed;
    top: 1.5vw;
    right: 3vw;
    font-size: 7vw;
  }
  
  .hamburger-btn:checked::before {
    font-size: 7vw;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
  }
  
  .hamburger-menu {
    position: fixed;
    right: -100%;
    transition: all 0.8s ease;
    z-index: 998;
    background-color: var(--hamburger-back-color);
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .hamburger-menu * {
    color: #FFF9D6;
    text-decoration: none;
    font-size: 2rem;
  }
  
  @media only screen and (max-width: 993px) {
    .hamburger-btn {
      visibility: visible;
    }
  
    .hamburger-btn.fa-bars:checked+.hamburger-menu {
      right: 0;
    }
  }
  